<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="static/colck.css">
        <meta charset="UTF-8">
        <title>Clock</title>
        <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@700;900&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="clock-container">
        <h1 id="clock"> </h1>
        <h1 id = "date"></h1>
        </div>
        <div id="song_text">
            <h1>노래</h1>
        </div>

        <div id="timer">
            <div id="sec">
                <h2>sec</h2>
            </div>

            <div id="pause">
                <h2>pause</h2>
            </div>
        </div>

        <div class="player-controls">
            <!-- 왼쪽: 되돌리기 -->
            <button id="back">◀ 5s</button>
            <!-- 오른쪽: 건너뛰기 -->
            <button id="skip">5s ▶</button>
        </div>
        <script src="/static/clock.js"></script>

    </body>
</html>